:root {
  --color-background: #1e1e1e;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body, input, button {
  font-family: "Space Grotesk", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
